<div ng-controller="MovieListCtrl as data">
	 <div layout="" layout-sm="column">
        <md-input-container>
            <label>Filter by movie name</label>
            <input ng-model="listFilter"></input>
          </md-input-container>
		  <md-button type="button"
            ng-click="data.toggleImage()">
        	Toggle Poster
    </md-button>
	 </div>
	
	<md-card class="card" ng-repeat="movie in data.movies | filter : {title:listFilter} | orderBy : 'title'">
		<img ng-show="data.showImage"
                                 ng-src="{{movie.imageurl}}" title="{{movie.title}}" class="md-card-image">
		<md-card-content class="card-content">
			<h4>{{ movie.title}}</h4>
			<p>{{ movie.director }}</p>
			<p>{{ movie.releaseDate | date }}</p>
			<p>{{ movie.mpaa | uppercase}}</p>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="center">
			<md-button>Edit</md-button>
			<md-button>More</md-button>
		</div>
	</md-card>
</div>